.header {
  background-color: #f38b8b;
  color: white;
  width: 100%;
  position: relative;
}

.logo {
  font-size: 2em;
  font-weight: bold;
  font-style: oblique;
  position: absolute;
  left: 50%;
  top: 50%;
}

.myaccount {
  height: 5em;
}

.acct_details {
  position: absolute;
  list-style-type: none;
  right: 2em;
}

.acct_details > li > a {
  color: white;
  text-decoration: none;
}

.img_logo_list {
  text-align: center;
  list-style-type: none;
  padding: 8em;
  margin: 0;
}

.img_logo_list li {
  display: inline;
}

.img_logo_list > li > img {
  width: 25%;
  height: 20em;
}

.img_logo {
  height: 10em;
}
