.header {
  background-color: #ffffff;
  color: rgb(255, 176, 30);
  width: 100%;
  position: relative;
}

.logo {
  font-size: 2em;
  font-weight: bold;
  font-family: "Klavika";
  position: absolute;
  left: 50%;
  top: 50%;
}

.myaccount {
  height: 5em;
}

.acct_details {
  position: absolute;
  list-style-type: none;
  right: 2em;
}

.acct_details > li > a {
  color: rgb(255, 176, 30);
  text-decoration: none;
}

.img_logo_list {
  text-align: center;
  list-style-type: none;
  padding: 8em;
  margin: 0;
}

.img_logo_list li {
  display: inline;
}

.img_logo_list > li > img {
  width: 25%;
  height: 20em;
}

.img_logo {
  height: 10em;
}

.introduction_active {
  position: relative;
  color: white;
  background-color: rgb(255, 107, 70);
  height: 70vh;
}

.introduction_active > div {
  font-family: "Klavika";
  text-align: center;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.lets_get_it {
  font-size: 5em;
  padding: 5px;
  border-radius: 10px;
}

.lets_get_it:hover {
  background-color: rgb(221, 164, 131);
}

.lets_get_it > a {
  color: rgb(199, 199, 181);
  text-decoration: none;
}

.introduction_active > div > ul {
  padding: 0;
  margin: 0;
}

.introduction_active > div > ul > li {
  font-size: 2em;
  display: inline;
  margin: 0 10px;
  padding: 5px;
}

.introduction_active > div > ul > li:hover {
  background-color: rgb(221, 164, 131);
  padding: 5px;
  border-radius: 10px;
}

/* Inactive Login */
.introduction_inactive {
  position: relative;
  color: white;
  background-color: rgb(255, 107, 70);
  height: 70vh;
}

.introduction_inactive > div {
  font-family: "Klavika";
  text-align: center;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.introduction_inactive > div > div > span {
  font-size: 5em;
}

.introduction_inactive > div > div > ul {
  padding: 0;
  margin: 0;
}

.introduction_inactive > div > div > ul > li {
  font-size: 2em;
  display: inline;
  margin: 0 10px;
  padding: 5px;
}

.introduction_inactive > div > div > ul > li:hover {
  background-color: rgb(250, 194, 180);
}
