.main {
  width: 100%;
  display: relative;
}

.form {
  display: absolute;
  transform: translate(-50%, -50%, 0);
  left: 50%;
  top: 50%;
  padding: 3em;
  background-color: white;
  border: 1px solid black;
  width: 20%;
}

.form > input {
  padding: 3px;
  margin-top: 5px;
}
